extends layout

block content
  body.no-sidebar
    #page-wrapper
      // Main
      .wrapper.style2
        #main.container
          // Content
          #content
            article.box.post
              header.style1
                h2
                  | #{entity.name}
                p Average Rating: #{(1.0*entity.ratingTotal/entity.ratingCount).toFixed(1)}/10
                p
                .bar
                  .rating-bar
                    span(class="rate-"+Math.round(1.0*entity.ratingTotal/entity.ratingCount))
                      span.animate.red
                  | Tags: #{entity.tags.join(", ")}
            .row(class='150%')
              if user
                div(class='4u 12u(mobile)', style='border:solid')
                  section.box
                    header
                        .row
                        h2 Submit your own rating
                    form(method='post', action='/rating-submit')
                        .row(class='50%')
                          div(class='12u')
                            input#contact-email(type='number', name='rating', placeholder='Rating (0-10)', min='0', max='10', required)
                            input(type='hidden', name='entityId', value= entity._id)
                        .row(class='50%')
                          div(class='12u')
                            textarea#contact-question(type='text', name='comment', placeholder='Comments', rows='2')
                        .row(class='50%')
                          div(class='12u')
                            input#contact-anon(type='checkbox', name='anon', value='Submit as Anonymous')
                            label(for='contact-anon') Submit as Anonymous
                        .row
                          div(class='12u')
                            input.style1(type='submit', value='Create New Rating')
              if ratings && ratings.length > 0
                each val in ratings
                  div(class='4u 12u(mobile)', style='border:solid')
                    section.box
                      header
                        .row
                          h1 Rating: #{val.rating}/10
                          h2 #{val.updatedAt}
                      p 
                        | #{val.owner || 'anon'}
              if comments && comments.length > 0
                each val in comments
                  div(class='4u 12u(mobile)', style='border:solid')
                    section.box
                      header
                        .row
                          h1 #{val.body}
                          h2 #{val.updatedAt}
                      p 
                        | #{val.owner || 'anon'}
            if user && user.admin
              .row(stype="margin-left: 5px;") 
                h2 
                  i(class='fa fa-exclamation-triangle')
                  span #{numReports}
                if numReports >= 2
                  form(method='POST', action='/entity-delete')
                    input(type='hidden', name='entityId', value=entity._id)
                    button#report(type='submit', value='') Delete
            else if (report == 0) && user
              .row(style="margin-left: 5px;")
                form(method='POST', action='/entityreport-submit')
                  input(type='hidden', name='entityId', value=entity._id)
                  button#report(type='submit', value='') Report
    // Scripts
    script(src='/js/jquery.min.js')
    script(src='/js/jquery.dropotron.min.js')
    script(src='/js/skel.min.js')
    script(src='/js/skel-viewport.min.js')
    script(src='/js/util.js')
    //if lte IE 8
      script(src='/js/ie/respond.min.js')
    script(src='/js/main.js')