doctype html
//
  Escape Velocity by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title Escape Velocity by HTML5 UP
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lte IE 8
      script(src='js/ie/html5shiv.js')
    link(rel='stylesheet', href='css/ev.css')
    //if lte IE 8
      link(rel='stylesheet', href='css/ie8.css')

  body.homepage
    #page-wrapper
      // Header
      #header-wrapper.wrapper
        #header
          h1#searchwrapper
            form.form-wrapper.cf
              input#searchinput(type='text', placeholder='Search KnowItAll...', required='')
              button#searchbutton(type='submit') Search
          // Nav
          nav#nav
            ul
              li.current
                a(href='#') Home
              li
                a(href='#') Create
              li
                a(href='#') Categories
                ul
                  li
                    a(href='#') Food
                  li
                    a(href='#') Classes
                  li
                    a(href='#') Activities
                  li
                    a(href='#') Clubs
                  li
                    a(href='#') Residences
              li
                a(href='no-sidebar.html') Login/Logout
      // Intro
      #intro-wrapper.wrapper.style1
        .title Getting Started
        section#intro.container
          p.style1 Get the most out of your campus
          p.style2
            | Rate, Poll, and Review everything at USC
            br.mobile-hide
          p.style3
            | Finding out about the best 
            strong food, classes, activities, residences, etc. 
            | can be 
            strong hard.
            |  We're here to help. 
            | Search our database to see ratings, reviews and polls about all sorts of stuff on campus.
            | Create an account to make your voice heard. It's time to 
            strong KnowItAll!
          ul.actions
            li
              a.button.style3.big(href='#') Create Account
      // Highlights
      .wrapper.style3
        .title Trending
        #highlights.container
          .row(class='150%')
            div(class='4u 12u(mobile)')
              section.highlight
                a.image.featured(href='#')
                  img(src='images/poll0.jpg', alt='')
                h3
                  a(href='#') #{polls[0].question}
                p
                  | #{polls[0].tags.join(", ")}
                ul.actions
                  li
                    a.button.style1(href='#') More Info
            div(class='4u 12u(mobile)')
              section.highlight
                a.image.featured(href='#')
                  img(src='images/entity.jpg', alt='')
                h3
                  a(href='#') #{entities[0].name}
                p
                  | #{entities[0].tags.join(", ")}
                ul.actions
                  li
                    a.button.style1(href='#') More Info
            div(class='4u 12u(mobile)')
              section.highlight
                a.image.featured(href='#')
                  img(src='images/poll2.jpg', alt='')
                h3
                  a(href='#') #{polls[1].question}
                p
                  | #{polls[1].tags.join(", ")}
                ul.actions
                  li
                    a.button.style1(href='#') More Info
      // Footer
      #footer-wrapper.wrapper
        .title The Rest Of It
        #footer.container
          header.style1
            h2 Questions? Comments? Concerns?
            p
              | Contact us for any issues or just to say hi!
          hr
          .row(class='150%')
            div(class='6u 12u(mobile)')
              // Contact Form
              section
                form(method='post', action='#')
                  .row(class='50%')
                    div(class='6u 12u(mobile)')
                      input#contact-name(type='text', name='name', placeholder='Name')
                    div(class='6u 12u(mobile)')
                      input#contact-email(type='text', name='email', placeholder='Email')
                  .row(class='50%')
                    div(class='12u')
                      textarea#contact-message(name='message', placeholder='Message', rows='4')
                  .row
                    div(class='12u')
                      ul.actions
                        li
                          input.style1(type='submit', value='Send')
                        li
                          input.style2(type='reset', value='Reset')
            div(class='6u 12u(mobile)')
              // Contact
              section.feature-list.small
                .row
                  div(class='6u 12u(mobile)')
                    section
                      h3.icon.fa-home Mailing Address
                      p
                        | Untitled Corporation
                        br
                        | 														1234 Somewhere Rd #987
                        br
                        | 														Nashville, TN 00000-0000
                  div(class='6u 12u(mobile)')
                    section
                      h3.icon.fa-comment Social
                      p
                        a(href='#') @untitled-corp
                        br
                        a(href='#') linkedin.com/untitled
                        br
                        a(href='#') facebook.com/untitled
                .row
                  div(class='6u 12u(mobile)')
                    section
                      h3.icon.fa-envelope Email
                      p
                        a(href='#') info@untitled.tld
                  div(class='6u 12u(mobile)')
                    section
                      h3.icon.fa-phone Phone
                      p
                        | (000) 555-0000
          hr
        #copyright
          ul
            li © Untitled
            li
              | Design: 
              a(href='http://html5up.net') HTML5 UP
    // Scripts
    script(src='js/jquery.min.js')
    script(src='js/jquery.dropotron.min.js')
    script(src='js/skel.min.js')
    script(src='js/skel-viewport.min.js')
    script(src='js/util.js')
    //if lte IE 8
      script(src='js/ie/respond.min.js')
    script(src='js/main.js')

