extends layout

block content
  body.homepage
    #page-wrapper
      // Intro
      #intro-wrapper.wrapper.style1
        .title Know It All      
        #intro.container
          #content
            form.form-wrapper.cf(method='post', action='/results-page')
              .row(class='150%')
                .div(class='12u')
                  ul.actions
                    li
                      input#searchinput(type='text', placeholder='Search KnowItAll...', required='', name='query')
                    li 
                      input.style3(type='submit', class='style3', value='Search')
              .row(class='50%')
                div(class='12u')
                  input#contact-anon(type='checkbox', name='agreement')
                  label(for='contact-anon') Search by Tag &emsp;&emsp;&emsp;&emsp; Popular tags:
                  div(id='poptag')
                    label test
                  div(id='poptag')
                    label food
      .wrapper.style2
        .title Your Vote Counts
        #intro.container
          p.style1 Get the most out of your campus
          p.style2
            | Rate, Poll, and Review everything at USC
            br.mobile-hide
          p.style3
            | Finding out about the best 
            strong food, classes, activities, residences, etc. 
            | can be 
            strong hard.
            |  We're here to help. 
            | Search our database to see ratings, reviews and polls about all sorts of stuff on campus.
            | Sign up with your USC ID to make your voice heard. It's time to 
            strong KnowItAll!
          ul.actions
            li
              a.button.style3.big(href='/signup') Sign Up
      if entities.length > 0 && polls.length > 0
        // Highlights
        .wrapper.style3
          .title Trending
          #highlights.container
            .row(class='150%')
              if polls.length > 0
                div(class='4u 12u(mobile)')
                  section.highlight
                    a.image.featured(href='#')
                      img(src='images/poll0.jpg', alt='')
                    h3
                      a(href='/poll/' + polls[0]._id) #{polls[0].question}
                    p
                      | #{polls[0].tags.join(", ")}
                    ul.actions
                      li
                        a.button.style1(href='/poll/' + polls[0]._id) More Info
              if entities.length > 0
                div(class='4u 12u(mobile)')
                  section.highlight
                    a.image.featured(href='#')
                      img(src='images/entity.jpg', alt='')
                    h3
                      a(href='/entity/' + entities[0]._id) #{entities[0].name}
                    p
                      | #{entities[0].tags.join(", ")}
                    ul.actions
                      li
                        a.button.style1(href='/entity/' + entities[0]._id) More Info
              if polls.length > 1
                div(class='4u 12u(mobile)')
                  section.highlight
                    a.image.featured(href='#')
                      img(src='images/poll2.jpg', alt='')
                    h3
                      a(href='/poll/' + polls[1]._id) #{polls[1].question}
                    p
                      | #{polls[1].tags.join(", ")}
                    ul.actions
                      li
                        a.button.style1(href='/poll/' + polls[1]._id) More Info
    // Scripts
    script(src='js/jquery.min.js')
    script(src='js/jquery.dropotron.min.js')
    script(src='js/skel.min.js')
    script(src='js/skel-viewport.min.js')
    script(src='js/util.js')
    //if lte IE 8
      script(src='js/ie/respond.min.js')
    script(src='js/main.js')

