extends layout

block content
  body.no-sidebar
    #page-wrapper
      // Main
      .wrapper.style2
        #main.container
          // Content
          #content
            h1.title Poll
            article.box.post
              header.style1
                h2
                  | #{poll.question}
                p
                  | #{poll.tags.join(', ')} 
            .row(class='150%')
              div(class='4u 12u(mobile)')
                section.box
                  header
                    .row
                      h2 Submit Your Answer
                  form(method='post', action='/pollvote-submit')
                    .row(class='50%')
                      div(class='12u')
                        .container
                        each option, i in poll.options
                          .row
                            #radiobutton
                            label
                              input(id='Radios#{i+1}', type='radio', name='survey', value='' + i, checked=(userVote==i))
                              |     #{option}
                        .row
                           div(class='12u')
                        input.style1(type='submit', value='Submit')
                        input(type='hidden', name='pollId', value=poll._id)
              div(class='4u 12u(mobile)')
                section.box
                  #chartID
                    .chart
                      each option, i in poll.options
                        .row
                          div(id='option-'+i, class='option')
                            h3.option-label #{option}
                            .results
                              .on(style="width:" + percentages[i] + "%")
                                span.count #{percentages[i]}%
              div(class='4u 12u(mobile)')
                section.box
                  header
                    .row
                      h2 What do others think?
                  if userLike == 1
                    .row(style="margin-left: 5px;")
                      form(method='POST', action='/polllike-submit')
                        input#value(type='hidden', name='choice', value='1')
                        input(type='hidden', name='pollId', value=poll._id)
                        button#upVoteUser(type='submit', value='')
                          i(class='fa fa-thumbs-up') 
                          i #{upLikes}
                      form(method='POST', action='/polllike-submit')
                        input#value(type='hidden', name='choice', value='-1')
                        input(type='hidden', name='pollId', value=poll._id)
                        button#downVote(type='submit', value='')
                          i(class='fa fa-thumbs-down') 
                          i #{downLikes}
                  else if userLike == -1
                    .row(style="margin-left: 5px;")
                      form(method='POST', action='/polllike-submit')
                        input#value(type='hidden', name='choice', value='1')
                        input(type='hidden', name='pollId', value=poll._id)
                        button#upVote(type='submit', value='')
                          i(class='fa fa-thumbs-up') 
                          i #{upLikes}
                      form(method='POST', action='/polllike-submit')
                        input#value(type='hidden', name='choice', value='-1')
                        input(type='hidden', name='pollId', value=poll._id)
                        button#downVoteUser(type='submit', value='')
                          i(class='fa fa-thumbs-down')
                          i #{downLikes}
                  else
                    .row(style="margin-left: 5px;")
                      form(method='POST', action='/polllike-submit')
                        input#value(type='hidden', name='choice', value='1')
                        input(type='hidden', name='pollId', value=poll._id)
                        button#upVote(type='submit', value='')
                          i(class='fa fa-thumbs-up')
                          i #{upLikes}
                      form(method='POST', action='/polllike-submit')
                        input#value(type='hidden', name='choice', value='-1')
                        input(type='hidden', name='pollId', value=poll._id)
                        button#downVote(type='submit', value='')
                          i(class='fa fa-thumbs-down')
                          i #{downLikes}
                  if report == 0
                    .row(style="margin-left: 5px;")
                      form(method='POST', action='/pollreport-submit')
                        input#value(type='hidden', name='report', value='0')
                        input(type='hidden', name='pollId', value=poll._id)
                        button#report(type='submit', value='') Report



    // Scripts
    script(src='/js/jquery.min.js')
    script(src='/js/jquery.dropotron.min.js')
    script(src='/js/skel.min.js')
    script(src='/js/skel-viewport.min.js')
    script(src='/js/util.js')
    //if lte IE 8
      script(src='/js/ie/respond.min.js')
    script(src='/js/main.js')