extends layout

block content
  body.no-sidebar
    #page-wrapper
      // Main
      .wrapper.style2
        #main.container
          // Content
          #content
            h1.title Poll
            article.box.post
              header.style1
                h2
                  | #{poll.question}
                p
                  | #{poll.tags.join(', ')} 
            .row(class='150%')
              div(class='4u 12u(mobile)')
                section.box
                  header
                    .row
                      h2 Submit Your Answer
                  form(method='post', action='/pollvote-submit')
                    .row(class='50%')
                      div(class='12u')
                        .container
                        if poll.options.length > 0
                          .row
                            #radiobutton
                            label
                              input#Radios1(type='radio', name='survey', value='0', checked=(userVote==0))
                              |     #{poll.options[0]}
                        if poll.options.length > 1
                          .row
                            #radiobutton
                            label
                              input#Radios2(type='radio', name='survey', value='1', checked=(userVote==1))
                              |     #{poll.options[1]}
                        if poll.options.length > 2
                          .row
                            #radiobutton
                            label
                              input#Radios3(type='radio', name='survey', value='2', checked=(userVote==2))
                              |      #{poll.options[2]}
                        if poll.options.length > 3
                          .row
                            #radiobutton
                            label
                              input#Radios3(type='radio', name='survey', value='3', checked=(userVote==3))
                              |      #{poll.options[3]}
                        .row
                           div(class='12u')
                        input.style1(type='submit', value='Submit')
                        input(type='hidden', name='pollId', value=poll._id)
              div(class='4u 12u(mobile)')
                section.box
                  #chartID
                    .chart
                      if poll.options.length > 0
                        .row
                          #option-1.option
                            h3.option-label #{poll.options[0]}
                            .results
                              .on(style="width:" + percentages[0] + "%")
                                span.count #{percentages[0]}%
                      if poll.options.length > 1
                        .row 
                          #option-2.option
                            h3.option-label #{poll.options[1]}
                            .results
                              .on(style="width:" + percentages[1] + "%")
                                span.count #{percentages[1]}%
                      if poll.options.length > 2
                        .row  
                          #option-3.option
                            h3.option-label #{poll.options[2]}
                            .results
                              .on(style="width:" + percentages[2] + "%")
                                span.count #{percentages[2]}%
                      if poll.options.length > 3
                        .row  
                          #option-4.option
                            h3.option-label #{poll.options[3]}
                            .results
                              .on(style="width:" + percentages[3] + "%")
                                span.count #{percentages[3]}%
              div(class='4u 12u(mobile)')
                section.box
                  header
                    .row
                      h2 What do others think?
                  if userLike == 1
                    .row(style="margin-left: 5px;")
                      form(method='POST', action='/polllike-submit')
                        input#value(type='hidden', name='choice', value='1')
                        input(type='hidden', name='pollId', value=poll._id)
                        input#upVoteUser(type='submit', value='+' + upLikes) 
                      form(method='POST', action='/polllike-submit')
                        input#value(type='hidden', name='choice', value='-1')
                        input(type='hidden', name='pollId', value=poll._id)
                        input#downVote(type='submit', value='-' + downLikes)
                  else if userLike == -1
                    .row(style="margin-left: 5px;")
                      form(method='POST', action='/polllike-submit')
                        input#value(type='hidden', name='choice', value='1')
                        input(type='hidden', name='pollId', value=poll._id)
                        input#upVote(type='submit', value='+' + upLikes) 
                      form(method='POST', action='/polllike-submit')
                        input#value(type='hidden', name='choice', value='-1')
                        input(type='hidden', name='pollId', value=poll._id)
                        input#downVoteUser(type='submit', value='-' + downLikes)
                  else
                    .row(style="margin-left: 5px;")
                      form(method='POST', action='/polllike-submit')
                        input#value(type='hidden', name='choice', value='1')
                        input(type='hidden', name='pollId', value=poll._id)
                        input#upVote(type='submit', value='+' + upLikes) 
                      form(method='POST', action='/polllike-submit')
                        input#value(type='hidden', name='choice', value='-1')
                        input(type='hidden', name='pollId', value=poll._id)
                        input#downVote(type='submit', value='-' + downLikes)



    // Scripts
    script(src='/js/jquery.min.js')
    script(src='/js/jquery.dropotron.min.js')
    script(src='/js/skel.min.js')
    script(src='/js/skel-viewport.min.js')
    script(src='/js/util.js')
    //if lte IE 8
      script(src='/js/ie/respond.min.js')
    script(src='/js/main.js')