extends layout

block content
  body.no-sidebar
    #page-wrapper
      // Main
      .wrapper.style2
        .title Entity Results
        #main.container
          // Content
          #content
            .row(class='150%')
              if entities.length > 0
                div(class='4u 12u(mobile)')
                  section.box
                    header
                      h2 
                        a(href='/entity/' + entities[0]._id) #{entities[0].name}
                    a.image.featured(href='/entity/' + entities[0]._id)
                      img(src='images/pic05.jpg', alt='')
                    p
                      | Tags: #{entities[0].tags.join(", ")}
                    a.button.style1(href='/entity/' + entities[0]._id) More
              if entities.length > 1
                div(class='4u 12u(mobile)')
                  section.box
                    header
                      h2 
                        a(href='/entity/' + entities[1]._id) #{entities[1].name}
                    a.image.featured(href='/entity/' + entities[1]._id)
                      img(src='images/pic06.jpg', alt='')
                    p
                      | Tags: #{entities[1].tags.join(", ")}
                    a.button.style1(href='/entity/' + entities[1]._id) More
              if entities.length > 2
                div(class='4u 12u(mobile)')
                  section.box
                    header
                      h2 
                        a(href='/entity/' + entities[2]._id) #{entities[2].name}
                    a.image.featured(href='/entity/' + entities[2]._id)
                      img(src='images/pic07.jpg', alt='')
                    p
                      | Tags: #{entities[2].tags.join(", ")}
                    a.button.style1(href='/entity/' + entities[2]._id) More
              if entities.length > 3
                div(class='4u 12u(mobile)')
                  section.box
                    header
                      h2 
                        a(href='/entity/' + entities[3]._id) #{entities[3].name}
                    a.image.featured(href='/entity/' + entities[3]._id)
                      img(src='images/pic05.jpg', alt='')
                    p
                      | Tags: #{entities[3].tags.join(", ")}
                    a.button.style1(href='/entity/' + entities[3]._id) More
              if entities.length > 4
                div(class='4u 12u(mobile)')
                  section.box
                    header
                      h2 
                        a(href='/entity/' + entities[4]._id) #{entities[4].name}
                    a.image.featured(href='/entity/' + entities[4]._id)
                      img(src='images/pic06.jpg', alt='')
                    p
                      | Tags: #{entities[4].tags.join(", ")}
                    a.button.style1(href='/entity/' + entities[4]._id) More
              if entities.length > 5
                div(class='4u 12u(mobile)')
                  section.box
                    header
                      h2 
                        a(href='/entity/' + entities[5]._id) #{entities[5].name}
                    a.image.featured(href='/entity/' + entities[5]._id)
                      img(src='images/pic07.jpg', alt='')
                    p
                      | Tags: #{entities[5].tags.join(", ")}
                    a.button.style1(href='/entity/' + entities[5]._id) More
      // Highlights
      .wrapper.style3
        .title Poll Results
        #highlights.container
          .row(class='150%')
            if polls.length > 0
              div(class='4u 12u(mobile)')
                section.highlight
                  a.image.featured(href='/poll/' + polls[0]._id)
                    img(src='images/pic02.jpg', alt='')
                  h3 
                    a(href='/poll/' + polls[0]._id) #{polls[0].question}
                  p
                    | Tags: #{polls[0].tags.join(", ")}
                  ul.actions
                    li
                      a.button.style1(href='/poll/' + polls[0]._id) Learn More
            if polls.length > 1
              div(class='4u 12u(mobile)')
                section.highlight
                  a.image.featured(href='/poll/' + polls[1]._id)
                    img(src='images/pic03.jpg', alt='')
                  h3 
                    a(href='/poll/' + polls[1]._id) #{polls[1].question}
                  p
                    | Tags: #{polls[1].tags.join(", ")}
                  ul.actions
                    li
                      a.button.style1(href='/poll/' + polls[1]._id) Learn More
            if polls.length > 2
              div(class='4u 12u(mobile)')
                section.highlight
                  a.image.featured(href='/poll/' + polls[2]._id)
                    img(src='images/pic04.jpg', alt='')
                  h3 
                    a(href='/poll/' + polls[2]._id) #{polls[2].question}
                  p
                    | Tags: #{polls[2].tags.join(", ")}
                  ul.actions
                    li
                      a.button.style1(href='/poll/' + polls[2]._id) Learn More
    // Scripts
    script(src='js/jquery.min.js')
    script(src='js/jquery.dropotron.min.js')
    script(src='js/skel.min.js')
    script(src='js/skel-viewport.min.js')
    script(src='js/util.js')
    //if lte IE 8
      script(src='js/ie/respond.min.js')
    script(src='js/main.js')
